<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    
</head>
<body>

    <footer class="footer">
        <div class="footer_container">
            <h3>Code Chronicles</h3>
            <p>Created by Shivalika Sharma</p>
            <% const today = new Date();  %>
             <%  const year = today.getFullYear()%>
            <p>Copyright © <%= year %> - All right reserved</p>
        </div>

       
    </footer>
    
</body>
</html>