<%- include("partial/header.ejs") %>
<div class="Misinfo_box">
    <h1>Open-source AI is hard. Blueprints can help!</h1>
    <div class="blueprint-image">
        <img src="images/blueprint-image2.png" alt="blueprint-image2">
    </div>

    <div class="blueprint-content">
      <h3>What are Blueprints?</h3>  
         <p>Blueprints are your go-to, customizable workflows that enable you to prototype AI applications with trusted open-source tools. Each Blueprint tackles a real-world challenge, giving you a robust foundation to work from:</p>

<li>Open-source power:</li> <p>Fully hosted on GitHub and built with the community.</p> 
<li>Ready out-of-the-box:</li> <p>Get started instantly with accessible setup options.</p> 
<li>Customizable and extendable:</li> <p>Use it as-is or extend it to fit your own needs.</p>
<li>Consistent and templatized:</li> <p>Every Blueprint follows a core template to keep your workflow smooth.</p>
<li>Community-driven:</li> <p>Contribute, collaborate, and be part of something bigger.</p> 
    </div>
</div>

<%- include("partial/footer.ejs") %>