<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
    <h2>Title</h2>
    <input type="text" name="title" id="">
    <h2>Image</h2>
    <input type="image" name="image">
    <h2>Write Below</h2>
    <input type="text" name="write" id="">
</body>
</html>