<%- include("partial/header.ejs") %>

<div class="Misinfo_box">
    <h1>DevOps for Beginners: Key Concepts and Tools</h1>
    <div class="blueprint-image">
        <img src="images/blueprint-image2.png" alt="blueprint-image2">
    </div>
    <div class="content-1">
        <h3>What is DevOps?</h3>
          <p>At its core, DevOps is all about breaking down silos between development (the people who write the code) and operations (the people who deploy and maintain the software). The idea is to make everything run more smoothly, from writing code to getting it into the hands of users, all while ensuring things work perfectly.</p> 
        <h3>Key Concepts in DevOps</h3>
        <p><li>CollaborationDevOps :</li>It is like a team sport. It encourages collaboration between developers, IT operations, and other teams so everyone is on the same page, working together towards the same goals. The better everyone communicates, the faster things get done.</p>
        
        <p style="margin-top: 10px;"><li>Continuous Integration (CI) and Continuous Delivery (CD)</li>You’ve probably heard these terms thrown around in tech circles. Continuous Integration means developers regularly push code changes to a central code repository, making it easier to detect bugs early. Continuous Delivery ensures the code is always in a deployable state, so updates are faster and smoother.</p>
        
    </div>
</div>

<%- include("partial/footer.ejs") %>