<%- include("partial/header.ejs") %>
<div class="Misinfo_box">
    <h1>Misinformation in the age of AI: It’s in the details (like extra fingers)</h1>
    <div class="content_image">
        <img src="images/Misinfo-image1.jpg" alt="Misinfo-image1">
    </div>
    
    <div class="misinfo_content">
        <p>As you scroll through social media, the posts blend together: a heroic cat, a shocking statistic, a breaking news clip. But in a world where AI blurs the line between fact and fiction, how do you tell what’s real from what’s misinformation? </p>

        <p>The short answer: Most of the time, you can’t. Generative AI tools have made it faster, cheaper, and easier to create convincing fakes, flooding our feeds with AI-generated content. But here’s what you can do – learn to spot the signs of misinformation.</p>
            
        <h3>What should I think about when trying to detect AI?</h3>  
           <p>Just looking out for obvious AI will mean missing a lot of it. Retrain your brain to assess social media on a framework similar to the ones used by AI-misinformation researchers. Consider who’s behind the post, whether the content makes sense, how it’s written, the emotions it evokes and any signs of manipulation.</p>    
            
        <ul>User</ul> 
            <li>Who is posting this? Is it a reliable source? Is this account tied to a real-world institution that I trust? </li> 
            <li> What is the username length? Is it a long set of random numbers and letters? Is it a verified account? Does it only have a handful of followers (who also look random or not real)? </li>
        <ul>Content</ul> 
            <li>Does the framing make sense? What is this content about? Is it especially vague or seems so outrageous that it couldn’t be true? Does this contradict what you already know about the topic? </li>  
            <li> Are there platform flags that the content could be potentially misleading, or a comment section full of claims that it’s false? Are there AI badges or indicator hashtags such as #AI, #satire, #skit, #spoof or #AD?</li>  
        <ul>Style</ul>     
            <li>How is it written? Is there poor or wooden-sounding grammar? Is it flowery? Is there unnatural repetition, or has the user posted the same thing several times?</li>           
            <li>Does it repeat often-used AI words such as “elevate,” “captivate,” “tapestry” or “delve”? Does it use known AI phrases such as “provided valuable insights,” an “indelible mark,” or “a rich tapestry”? (Of course, these words and phrases don’t definitively mean that the content is AI-generated misinformation; they’re just reasons to take a closer look.)</li> 
        <ul>Emotion</ul>  
            <li>Is this an especially emotion-laded post? Is the level of emotion appropriate for the situation?</li>   
             <li> Does the post appear to “weaponize” emotion or tell readers how to feel about the content, such as by using more anger and swear words? (Keep in mind that bots on social media can and do use profanity). </li>    
        <ul>Manipulation</ul> 
        <li>What might someone have to gain by touching on your emotions in this way? What’s the worst-case scenario if this turns out to not be true? What might a user (using AI) be hoping you don’t look up?</li>   
    </div>
</div>


<%- include("partial/footer.ejs") %>